h1 {
font-family: ‘Georgia’, ‘sans-serif’;
font-size: 30px;
font-weight: bold;
font-style: italic;
text-align: center;
background: #ffbdbd;
color: #db4848;
width: 400px;
}
body {
width:80%;
 margin: auto;
background:#f58e8e;
color:#ffe5e5;
}
header {
height: 60px; 
background:#ff0000;
text-align:center; 
}




